client-app/with-cpq/vc-cpq/flows/cpqSAPHeaderFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Header_Set_Finish</name>
        <label>Header - Set Finish</label>
        <locationX>468</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>isFinish</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_or_Update_Your_Payer_Header</targetReference>
        </connector>
    </assignments>
    <description>enosiX SAP to CPQ Integration Flow</description>
    <interviewLabel>cpqSAPHeaderFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPQ SAP Header</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Select_or_Update_Your_BillTo_Header</name>
        <label>Select or Update Your BillTo Header</label>
        <locationX>563</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Header_Set_Finish</targetReference>
        </connector>
        <fields>
            <name>Select_Bill_To_Header</name>
            <extensionName>c:CMP_Select_Partners</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autoPickSingle</name>
                <value>
                    <elementReference>autoPickBillTo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFinish</name>
                <value>
                    <elementReference>isFinish</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>partnerField</name>
                <value>
                    <stringValue>billToParty</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isFinish</assignToReference>
                <name>isFinish</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_or_Update_Your_Payer_Header</name>
        <label>Select or Update Your Payer Header</label>
        <locationX>772</locationX>
        <locationY>341</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Select_Payer_Header</name>
            <extensionName>c:CMP_Select_Partners</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autoPickSingle</name>
                <value>
                    <elementReference>autoPickPayer</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFinish</name>
                <value>
                    <elementReference>isFinish</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>partnerField</name>
                <value>
                    <stringValue>payerParty</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isFinish</assignToReference>
                <name>isFinish</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_or_Update_Your_SAP_Sales_Org_Header</name>
        <label>Select or Update Your SAP Sales Org Header</label>
        <locationX>64</locationX>
        <locationY>332</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_or_Update_Your_ShipTo_Header</targetReference>
        </connector>
        <fields>
            <name>Select_Sales_Area_Header</name>
            <extensionName>c:CMP_Select_Sales_Area</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autoPickSingle</name>
                <value>
                    <elementReference>autoPickSalesOrg</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFinish</name>
                <value>
                    <elementReference>isFinish</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isFinish</assignToReference>
                <name>isFinish</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_or_Update_Your_ShipTo_Header</name>
        <label>Select or Update Your ShipTo Header</label>
        <locationX>319</locationX>
        <locationY>333</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_or_Update_Your_BillTo_Header</targetReference>
        </connector>
        <fields>
            <name>Select_Ship_To_Header</name>
            <extensionName>c:CMP_Select_Partners</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autoPickSingle</name>
                <value>
                    <elementReference>autoPickShipTo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFinish</name>
                <value>
                    <elementReference>isFinish</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>partnerField</name>
                <value>
                    <stringValue>shipToParty</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isFinish</assignToReference>
                <name>isFinish</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>54</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Select_or_Update_Your_SAP_Sales_Org_Header</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Auto Pick Single Bill To</description>
        <name>autoPickBillTo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Auto Pick Single Payer</description>
        <name>autoPickPayer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Auto Pick Single Sales Org</description>
        <name>autoPickSalesOrg</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Auto Pick Single Ship To</description>
        <name>autoPickShipTo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Is end of flow</description>
        <name>isFinish</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
