client-app/with-cpq/vc-cpq/flows/cpqVCFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Item_Set_Finish</name>
        <label>Item - Set Finish</label>
        <locationX>690</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>isFinish</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Variant_Configuration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Plant_Item</name>
        <label>Check Plant Item</label>
        <locationX>235</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Check_Quantity_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enter_Plant_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enterPlant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_or_Update_Your_Material_Plant_Item</targetReference>
            </connector>
            <label>Enter Plant Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quantity_Item</name>
        <label>Check Quantity Item</label>
        <locationX>468</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>Item_Set_Finish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enter_Quantity_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>enterQuantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Quantity_Item</targetReference>
            </connector>
            <label>Enter Quantity Item</label>
        </rules>
    </decisions>
    <description>enosiX SAP to CPQ Integration Flow</description>
    <interviewLabel>cpqVCFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPQ SAP Variant Configuration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Change_Quantity_Item</name>
        <label>Change Quantity Item</label>
        <locationX>475</locationX>
        <locationY>230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Item_Set_Finish</targetReference>
        </connector>
        <fields>
            <name>Quantity_Item</name>
            <extensionName>c:CMP_ChangeQuantity</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>itemId</name>
                <value>
                    <elementReference>itemId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemJSON</name>
                <value>
                    <elementReference>itemJSON</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFinish</name>
                <value>
                    <elementReference>isFinish</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>itemJSON</assignToReference>
                <name>itemJSON</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Run_Variant_Configuration</name>
        <label>Run Variant Configuration</label>
        <locationX>690</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SAPVCMaterialConfiguration</name>
            <extensionName>c:CMP_VCMaterialConfiguration</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>quoteId</name>
                <value>
                    <elementReference>quoteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerJSON</name>
                <value>
                    <elementReference>headerJSON</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemJSON</name>
                <value>
                    <elementReference>itemJSON</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>materialId</name>
                <value>
                    <elementReference>itemId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFinish</name>
                <value>
                    <elementReference>isFinish</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>characteristicChangeCount</name>
                <value>
                    <elementReference>defaultVCUpdateNumber</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>itemJSON</assignToReference>
                <name>itemJSON</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>addedItemsJSON</assignToReference>
                <name>addedItemsJSON</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>itemId</assignToReference>
                <name>materialId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_or_Update_Your_Material_Plant_Item</name>
        <label>Select or Update Your Material Plant Item</label>
        <locationX>244</locationX>
        <locationY>229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Quantity_Item</targetReference>
        </connector>
        <fields>
            <name>SAP_Material_Plant_Picker_Item</name>
            <extensionName>c:CMP_MaterialPlantPicker</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>itemId</name>
                <value>
                    <elementReference>itemId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerJSON</name>
                <value>
                    <elementReference>headerJSON</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemJSON</name>
                <value>
                    <elementReference>itemJSON</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFinish</name>
                <value>
                    <elementReference>isFinish</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>plantNumber</name>
                <value>
                    <elementReference>defaultPlant</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>itemJSON</assignToReference>
                <name>itemJSON</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Check_Plant_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>JSON of product Ids added to BoM</description>
        <name>addedItemsJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>defaultPlant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>defaultVCUpdateNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Allow entry of Plant</description>
        <name>enterPlant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Allow Entry of Quantity</description>
        <name>enterQuantity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>headerJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Is end of flow</description>
        <name>isFinish</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Id of item to be edited/configured</description>
        <name>itemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>itemJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Id of CPQ Quote</description>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
