client-app/sales-doc/Order/flows/enosiX_Sales_Document_Create_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Associate_Variable</name>
        <label>Associate Variable</label>
        <locationX>181</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SalesDocumentCreatePage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Sales_Doc_Number</name>
        <label>Check Sales Doc Number</label>
        <locationX>513</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Sales_Doc_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sapDocNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Doc_Detail</targetReference>
            </connector>
            <label>Has Sales Doc Number</label>
        </rules>
    </decisions>
    <description>Sales Document Create for Order</description>
    <interviewLabel>enosix Sales Document Create (Order) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>enosix Sales Document Create (Order)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SalesDocumentCreatePage</name>
        <label>SalesDocumentCreatePage</label>
        <locationX>357</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Sales_Doc_Number</targetReference>
        </connector>
        <fields>
            <name>Sales_Document_Create</name>
            <extensionName>c:CMP_SalesDocCreateUpdate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sapDocNumber</name>
                <value>
                    <elementReference>sapDocNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isClone</name>
                <value>
                    <elementReference>isClone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isUpdate</name>
                <value>
                    <elementReference>isUpdate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appSettingsKey</name>
                <value>
                    <stringValue>SalesDoc</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appSettingsName</name>
                <value>
                    <stringValue>SR_OrderAppSettings</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appSettingsTypeName</name>
                <value>
                    <stringValue>DefaultOrder</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sapDocNumber</assignToReference>
                <name>sapDocNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Associate_Variable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Sales_Doc_Detail</name>
        <label>Sales_Doc_Detail</label>
        <locationX>723</locationX>
        <locationY>48</locationY>
        <flowName>FLOW_SAP_Sales_Document_Detail_With_Buttons</flowName>
        <inputAssignments>
            <name>initialSAPDocumentId</name>
            <value>
                <elementReference>sapDocNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedDocFlowType</name>
            <value>
                <stringValue>SAP_Sales_Doc</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>isClone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>sapDocNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sobjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
