client-app/aura-ui/sales-doc-detail-flow/with-buttons-contract/FLOW_SAP_Sales_Document_Detail_With_Buttons_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Intake_Initial_SAP_Document_Id</name>
        <label>Intake Initial SAP Document Id</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>sapDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initialSAPDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Document_Flow_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Sales_Document_Flow_Type</name>
        <label>Sales Document Flow Type</label>
        <locationX>497</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>SAP_Sales_Doc_Flow_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delivery_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedDocFlowType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP_Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAP_Delivery_Detail</targetReference>
            </connector>
            <label>Delivery Type</label>
        </rules>
        <rules>
            <name>Invoice_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedDocFlowType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP_Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAP_Invoice_Detail</targetReference>
            </connector>
            <label>Invoice Type</label>
        </rules>
        <rules>
            <name>Order_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedDocFlowType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP_Sales_Doc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAP_Sales_Order_Detail</targetReference>
            </connector>
            <label>Order Type</label>
        </rules>
        <rules>
            <name>Contract_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>selectedDocFlowType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP_Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAP_Contract_Detail</targetReference>
            </connector>
            <label>Contract Type</label>
        </rules>
    </decisions>
    <description>SAP Sales Document Details With Buttons and Contract</description>
    <interviewLabel>SAP Sales Document Details With Buttons and Contract{!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAP Sales Document Details With Buttons and Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SAP_Contract_Detail</name>
        <label>SAP Contract Detail</label>
        <locationX>278</locationX>
        <locationY>228</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SAP_Contract_Item_Detail</targetReference>
        </connector>
        <fields>
            <name>SAPContractDetailActions</name>
            <extensionName>c:CMP_SAP_Sales_Doc_Actions</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowBackToAccount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowBackToLinkedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowBackToOpportunity</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowClone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowUpdate</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SFRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SAPDocNum</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SAPDocType</name>
                <value>
                    <elementReference>selectedDocFlowType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showDocActionsButtons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SAPContractDetailHeader</name>
            <extensionName>c:CMP_ContractHeaderDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayBusinessArea</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayDocumentCurrency</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SAPContractDetailContract</name>
            <extensionName>c:CMP_ContractContractDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SAPContractDetailSales</name>
            <extensionName>c:CMP_ContractSalesDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SAPContractDetailPartners</name>
            <extensionName>c:CMP_ContractPartnersDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SAPContractDetailItems</name>
            <extensionName>c:CMP_ContractItemsDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedSAPDocumentItemModel</assignToReference>
                <name>selectedItemDetailData</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>sapDocumentItemId</assignToReference>
                <name>selectedItemNumber</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SAPContractDetailFlowNavigation</name>
            <extensionName>ensxapp:CMP_Navigation_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SAP_Contract_Item_Detail</name>
        <label>SAP Contract Item Detail</label>
        <locationX>279</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sales_Document_Flow_Type</targetReference>
        </connector>
        <fields>
            <name>SAPContractItemDetailItem</name>
            <extensionName>c:CMP_ContractItemDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>data</name>
                <value>
                    <elementReference>selectedSAPDocumentItemModel</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SAPContractItemDetailConditions</name>
            <extensionName>c:CMP_ContractItemConditionsDetail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>data</name>
                <value>
                    <elementReference>selectedSAPDocumentItemModel</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SAPContractItemDetailFlowSearch</name>
            <extensionName>ensxapp:CMP_Sales_Doc_Flow_Search_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedItemDetail</name>
                <value>
                    <elementReference>selectedSAPDocumentItemModel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedDocFlowType</assignToReference>
                <name>nextSapDocumentFlowType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>sapDocumentId</assignToReference>
                <name>nextSapDocumentId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SAPContractItemDetailFlowNavigation</name>
            <extensionName>ensxapp:CMP_Navigation_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SAP_Delivery_Detail</name>
        <label>SAP Delivery Detail</label>
        <locationX>577</locationX>
        <locationY>34</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SAP_Delivery_Item_Details</targetReference>
        </connector>
        <fields>
            <name>Delivery_CMP_SAP_Delivery_Detail</name>
            <extensionName>ensxapp:CMP_Delivery_Detail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReturnButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Delivery_CMP_SAP_Delivery_Items</name>
            <extensionName>ensxapp:CMP_Delivery_Detail_Items</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedSAPDocumentItemModel</assignToReference>
                <name>selectedItemDetailData</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>sapDocumentItemId</assignToReference>
                <name>selectedItemNumber</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Delivery_CMP_Navigation_Flow</name>
            <extensionName>ensxapp:CMP_Navigation_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SAP_Delivery_Item_Details</name>
        <label>SAP Delivery Item Details</label>
        <locationX>725</locationX>
        <locationY>106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sales_Document_Flow_Type</targetReference>
        </connector>
        <fields>
            <name>DeliveryItem_CMP_Delivery_Item_Detail</name>
            <extensionName>ensxapp:CMP_Delivery_Item_Detail_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedItemDetail</name>
                <value>
                    <elementReference>selectedSAPDocumentItemModel</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DeliveryItem_CMP_Sales_Doc_Search</name>
            <extensionName>ensxapp:CMP_Sales_Doc_Flow_Search_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayCreateDate</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedItemDetail</name>
                <value>
                    <elementReference>selectedSAPDocumentItemModel</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sapDocumentId</assignToReference>
                <name>nextSapDocumentId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedDocFlowType</assignToReference>
                <name>nextSapDocumentFlowType</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DeliveryItem_CMP_Navigation_Flow</name>
            <extensionName>ensxapp:CMP_Navigation_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SAP_Invoice_Detail</name>
        <label>SAP Invoice Detail</label>
        <locationX>556</locationX>
        <locationY>447</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SAP_Invoice_Item_Details</targetReference>
        </connector>
        <fields>
            <name>Invoice_CMP_Invoice_Detail</name>
            <extensionName>ensxapp:CMP_Invoice_Detail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReturnButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Invoice_CMP_Invoice_Items</name>
            <extensionName>ensxapp:CMP_Invoice_Detail_Items</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedItemDetailData</name>
                <value>
                    <elementReference>selectedSAPDocumentItemModel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedItemNumber</name>
                <value>
                    <elementReference>sapDocumentItemId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedSAPDocumentItemModel</assignToReference>
                <name>selectedItemDetailData</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>sapDocumentItemId</assignToReference>
                <name>selectedItemNumber</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Invoice_CMP_Navigation_Flow</name>
            <extensionName>ensxapp:CMP_Navigation_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SAP_Invoice_Item_Details</name>
        <label>SAP Invoice Item Details</label>
        <locationX>737</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sales_Document_Flow_Type</targetReference>
        </connector>
        <fields>
            <name>InvoiceItem_CMP_Invoice_Item_Detail</name>
            <extensionName>ensxapp:CMP_Invoice_Item_Detail_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayBillingItem</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedItemDetail</name>
                <value>
                    <elementReference>selectedSAPDocumentItemModel</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InvoiceItem_CMP_Invoice_Item_Conditions</name>
            <extensionName>ensxapp:CMP_Invoice_Item_Detail_Conditions_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedItemDetail</name>
                <value>
                    <elementReference>selectedSAPDocumentItemModel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayItemCondition</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InvoiceItem_CMP_Sales_DocFlow</name>
            <extensionName>ensxapp:CMP_Sales_Doc_Flow_Search_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedItemDetail</name>
                <value>
                    <elementReference>selectedSAPDocumentItemModel</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sapDocumentId</assignToReference>
                <name>nextSapDocumentId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedDocFlowType</assignToReference>
                <name>nextSapDocumentFlowType</name>
            </outputParameters>
        </fields>
        <fields>
            <name>InvoiceItem_CMP_Navigation_Flow</name>
            <extensionName>ensxapp:CMP_Navigation_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SAP_Order_Item_Details</name>
        <label>SAP Order Item Details</label>
        <locationX>909</locationX>
        <locationY>302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sales_Document_Flow_Type</targetReference>
        </connector>
        <fields>
            <name>SalesOrderItem_CMP_SAP_Sales_Doc_Item_Detail</name>
            <extensionName>ensxapp:CMP_Sales_Doc_Item_Detail_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedItemDetail</name>
                <value>
                    <elementReference>selectedSAPDocumentItemModel</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SalesOrderItem_CMP_SAP_Sales_Doc_Item_Schedule</name>
            <extensionName>ensxapp:CMP_Sales_Doc_Schedule_Lines_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedItemDetail</name>
                <value>
                    <elementReference>selectedSAPDocumentItemModel</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SalesOrderItem_CMP_SAP_Sales_Doc_Item_Conditions</name>
            <extensionName>ensxapp:CMP_Sales_Doc_Item_Conditions_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedItemDetail</name>
                <value>
                    <elementReference>selectedSAPDocumentItemModel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayItemCondition</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SalesOrderItem_CMP_SAP_Sales_DocFlow_Search</name>
            <extensionName>ensxapp:CMP_Sales_Doc_Flow_Search_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedItemDetail</name>
                <value>
                    <elementReference>selectedSAPDocumentItemModel</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sapDocumentId</assignToReference>
                <name>nextSapDocumentId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedDocFlowType</assignToReference>
                <name>nextSapDocumentFlowType</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SalesOrderItem_CMP_Navigation_Flow</name>
            <extensionName>ensxapp:CMP_Navigation_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SAP_Sales_Doc_Flow_Error</name>
        <label>SAP Sales Doc Flow Error</label>
        <locationX>149</locationX>
        <locationY>129</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sales_Doc_Flow_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!selectedDocFlowType}&lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px; font-family: Arial, sans-serif;&quot;&gt;is unrecognized. Flow will need to be customized to recognize it.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SAP_Sales_Order_Detail</name>
        <label>SalesOrder_SAP Sales Order Detail</label>
        <locationX>909</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SAP_Order_Item_Details</targetReference>
        </connector>
        <fields>
            <name>SAPSalesDocActions</name>
            <extensionName>c:CMP_SAP_Sales_Doc_Actions</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>SAPDocNum</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SFRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SAPDocType</name>
                <value>
                    <elementReference>selectedDocFlowType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowBackToLinkedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowBackToAccount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowBackToOpportunity</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowClone</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowUpdate</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showDocActionsButtons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SalesOrder_CMP_SalesDocHeader</name>
            <extensionName>ensxapp:CMP_Sales_Doc_Detail_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReturnButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SalesOrder_CMP_SalesDocDetailsStatus</name>
            <extensionName>ensxapp:CMP_Sales_Doc_Detail_Status</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SalesOrder_CMP_SalesDocDetailsPartners</name>
            <extensionName>ensxapp:CMP_Sales_Doc_Detail_Partners</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SalesOrder_CMP_SalesDocDetailsItems</name>
            <extensionName>ensxapp:CMP_Sales_Doc_Detail_Items</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sapDocumentItemId</assignToReference>
                <name>selectedItemNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedSAPDocumentItemModel</assignToReference>
                <name>selectedItemDetailData</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SalesOrder_CMP_SalesDocDetailsPayment</name>
            <extensionName>ensxapp:CMP_Sales_Doc_Detail_PaymentCards</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sapDocumentId</name>
                <value>
                    <elementReference>sapDocumentId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SalesOrder_CMP_Navigation_Flow</name>
            <extensionName>ensxapp:CMP_Navigation_Flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowPrevious</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Intake_Initial_SAP_Document_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>initialSAPDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sapDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sapDocumentItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedDocFlowType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedSAPDocumentItemModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>showDocActionsButtons</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
